@tailwind base;
@tailwind components;
@tailwind utilities;

.crop-container {
  clip-path: inset(0 0 0 0); /* Crops 3px from the right */
}

.cropped-video {
  object-fit: cover; /* Ensures video scales correctly */
}

@keyframes toggleRotate {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(72deg);
  }
  40% {
    transform: rotate(144deg);
  }
  60% {
    transform: rotate(216deg);
  }
  80% {
    transform: rotate(288deg);
  }
}

.scribble-border-animation {
  animation: toggleRotate 0.3s steps(1) infinite;
}

.pixelated {
  image-rendering: pixelated;
}

@layer utilities {
  /* Act as a border */
  .card-wrapper {
    @apply relative overflow-hidden rounded-2xl bg-gradient-to-b from-custom-grey-2 to-custom-grey-3;
  }

  /* Gradient */
  .card-wrapper::before {
    background: conic-gradient(
      /* this is from what colour to what colour the line should change to */
        rgba(20, 20, 20),
      rgb(38, 38, 38),
      transparent 80deg
    );

    @apply absolute left-[-25%] top-[-25%] h-[150%] w-[150%] animate-border-spin content-[''];
  }

  /* Body */
  .card-content {
    @apply absolute left-[1px] top-[1px] h-[calc(100%-2px)] w-[calc(100%-2px)] rounded-full bg-gradient-to-b from-custom-grey-2 to-custom-grey-3;
  }

  @font-face {
    font-family: "font-inter-regular"; /* Replace with your font's name */
    src: url("/src/assets/fonts/Inter/static/Inter-Regular.ttf")
      format("truetype"); /* Adjust path */
    /* url('/src/assets/fonts/YourFontFile.woff') format('woff'); */
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Roboto";
    src: url("/src/assets/fonts/Inter/static/Roboto-Bold.ttf")
      format("truetype");

    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Caveat";
    src: url("/src/assets/fonts/Inter/static/Caveat-Medium.ttf")
      format("truetype");

    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Inter-Bold";
    src: url("/src/assets/fonts/Inter/static/Inter-Bold.ttf") format("truetype");

    font-weight: normal;
    font-style: normal;

    font-family: "Roboto";
    src: url("/src/assets/fonts/Inter/static/Roboto-Bold.ttf")
      format("truetype");

    font-weight: normal;
    font-style: normal;
  }
}

html,
body {
  overscroll-behavior: none; /* Prevent the bounce effect */
}
