@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes toggleRotate {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(180deg);
  }
  66% {
    transform: rotate(180deg);
  }
}

.scribble-border-animation {
  animation: toggleRotate 0.28s steps(1) infinite;
}

.pixelated {
  image-rendering: pixelated;
}

@layer utilities {
  /* Act as a border */
  .card-wrapper {
    @apply relative overflow-hidden rounded-2xl bg-gradient-to-b from-slate-700 to-slate-800;
  }

  /* Gradient */
  .card-wrapper::before {
    background: conic-gradient(
      /* this is from what colour to what colour the line should change to */
        rgba(203 213 225),
      rgba(100 116 139),
      transparent 80deg
    );

    @apply absolute left-[-25%] top-[-25%] h-[150%] w-[150%] animate-border-spin content-[''];
  }

  /* Body */
  .card-content {
    @apply absolute left-[1px] top-[1px] h-[calc(100%-2px)] w-[calc(100%-2px)] rounded-2xl bg-gradient-to-b from-slate-800 to-slate-900;
  }
}
