@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes toggleRotate {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(180deg);
  }
  66% {
    transform: rotate(180deg);
  }
}

.scribble-border-animation {
  animation: toggleRotate 0.28s steps(1) infinite;
}

.pixelated {
  image-rendering: pixelated;
}
